@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;1,300&display=swap");
.navbar {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.navbar-brand {
  font-weight: 400;
}

.navbar-brand img {
  margin-left: 5px;
  margin-right: 15px;
}

.nav-link {
  text-transform: capitalize;
  font-weight: 500;
  font-size: .9rem;
  margin-right: 2rem;
}

.nav-link.active {
  color: #fff;
}

.navbar-nav .dropdown-menu {
  position: static;
  background-color: #3d3b3b;
  border-radius: 10px;
  text-transform: capitalize;
}

.navbar-nav .dropdown-menu a {
  margin-bottom: .4rem;
}

.navbar-nav .dropdown-menu a:hover {
  border-radius: 1px;
  background-color: #717172;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

/* .carousel-inner{
    height: 80vh;
}

.carousel-item{
    height: 100%;
} */
.carousel {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}

.carousel-caption {
  border-radius: 5px;
  background-color: transparent;
}

.carousel-item img {
  width: 100%;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

@media all and (max-width: 992px) {
  .carousel-item img {
    width: 100%;
  }
}

@media all and (min-width: 992px) {
  #carousel {
    margin-top: -3.5rem;
  }
  .carousel-item img {
    height: 35rem;
    width: 100%;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: brightness(75%);
            filter: brightness(75%);
  }
}

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.services__heading {
  padding-top: 1rem !important;
}

.services__heading__h1 {
  font-family: 'Newsreader', serif;
  font-weight: 350;
  font-size: 2.1rem;
}

.services__heading__line {
  background-color: black;
  border-radius: 50px;
}

.services__card {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  height: 100%;
}

.card {
  overflow: hidden;
  border-radius: 12px !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__img img {
  max-width: 30%;
}

.card:hover {
  -webkit-box-shadow: 0px 15px 25px rgba(50, 50, 50, 0.1);
          box-shadow: 0px 15px 25px rgba(50, 50, 50, 0.1);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card-body > * {
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 400;
}

.card-text {
  text-align: left;
  padding-left: 1rem;
  opacity: 0.7;
  text-transform: capitalize;
  font-size: 0.9rem;
  margin: 1rem 0;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

@media all and (max-width: 992px) {
  .nav-link {
    font-size: 1.2rem;
  }
}

h1 {
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
}

.contact__btn {
  font-weight: 800;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: .8rem 1.8rem;
  position: fixed;
  right: 1.7rem;
  bottom: 2.3rem;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(160, 156, 156, 0.15);
  outline: none;
  border: none;
  background-color: black;
  color: white;
  z-index: 30;
}

.contact__btn i {
  color: white;
  margin-right: 3px;
}

#whatsapp {
  padding-top: 0px;
  padding-bottom: 27px;
  -webkit-box-shadow: 0px 10px 20px rgba(107, 197, 33, 0.1);
          box-shadow: 0px 10px 20px rgba(107, 197, 33, 0.1);
  border-radius: 5px;
  position: fixed;
  margin: 0;
  bottom: 40vh;
  background-color: #49cf49;
  border: none;
  z-index: 30;
  letter-spacing: 1px;
  font-weight: 00;
  right: 0;
  margin-right: -4rem;
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: capitalize;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-box-shadow: 0px 0px 20px 1px rgba(81, 202, 33, 0.1);
          box-shadow: 0px 0px 20px 1px rgba(81, 202, 33, 0.1);
}

#whatsapp:hover, #whatsapp:focus {
  outline: none;
}

#whatsapp i {
  font-size: 1.5rem;
  margin-right: 5px;
}

.shadow {
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #1d1d1d;
  padding: 1.4rem;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: .9rem;
}

.footer__heading {
  font-size: 3rem;
}

.footer__para {
  padding-right: 1rem;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 2rem;
  opacity: 0.7;
}

.footer .contact {
  font-weight: 300;
  line-height: 2rem;
}

.footer .contact i {
  margin-right: 1rem !important;
}

.footer__list ul {
  margin: 0 1rem;
}

.footer__list li {
  outline: none;
  border: none;
  background-color: transparent;
}

.footer__list li a {
  opacity: 0.6;
  color: white;
  text-decoration: none;
}

.footer__list li a:hover {
  opacity: 1;
}

.owner {
  font-weight: 500;
}

#headoffice {
  opacity: 1;
}

#footer__active {
  text-transform: capitalize;
  font-weight: 700;
  border-bottom: 2px solid #4848c2;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 347px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: inherit;
  width: inherit;
  border-radius: 10px;
}

@media all and (max-width: 992px) {
  .footer {
    padding: 1.4rem 1.8rem;
  }
  .footer__heading {
    font-size: 3rem;
  }
  .mapouter {
    position: relative;
    text-align: right;
    height: 343px;
    width: 346px;
  }
}
/*# sourceMappingURL=main.css.map */